
html {
    scroll-behavior: smooth;
}

* {
    box-sizing:border-box;
  }

body {
    font-family: Georgia, serif; 
    margin: 0;
    font-size: 100%;
    line-height:1.5;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 80vh 20px auto 20px auto;
 }
 main {
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end:4;
}


 /* header part starts here. */


header::after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-color: #383838;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: 0;
 }
 .big_text {
    font-family:sans-serif;
    color:white;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3;  
    place-self: center;
    font-size: 3.5vw; 
    /*left:-535px; */
    position:relative;
    opacity:0.8;
    z-index: 1;

 } 

header {
    background-image: url(images/background2.JPG); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;; 
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:2;
    display:grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows:14% 89%;
    background-color:purple;


  }
  nav {
    font-family: verdana, sans-serif;
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34c5ef;
    z-index:2;
  }

  .logo {
    margin-right: auto;
    box-sizing: border-box;
  }
  
  .logo_cat {
    display: block;
    min-width: 10vw;
    
}

.nav_links a {
    font-size: 1.5rem;
}

.nav_links {
    background-color:purple;
    padding-left:0;
    padding-right:0.3125rem;
}


.nav_links {
    list-style: none;
    z-index:5000;
  }
.nav_links li a:hover {
    color:black;
  }
nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.nav_links li {
    display:inline-block;
    padding: 20px;
}

.hamburger_menu {
    display:none;
}  











/*Home page starts here. */

 .home_container {
    display: grid;
    grid-template-columns: 1fr 20px 0.7fr;
    grid-template-rows:auto 40px auto;
    height:auto;
    background-color: purple;
    margin-right:1.25rem;
    margin-left: 1.25rem;
 }


.welcome_container {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:2; 
    background-color: green;
    border-left: 4px solid #585a59;
    border-right: 4px solid #585a59;
    width:50vw;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr auto minmax(20px, auto); 
}

h2 {
    background-color: green;
    font-weight: 800;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:2; 
    text-align:center;
    color:#282928;
    font-size: clamp(1rem, 1.5vw + 0.5rem, 2.1875rem);
    
  
         
  }
  .text {
    background-color: #DEDFE4;
    color:#282928;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3; 
    display:flex;
    font-size: clamp(1rem, 1vw, 1.375rem);
    
      } 
      .text p {
       background-color: #34c5ef;
       line-height: 1.7;
       margin-left:1.875rem;
       margin-right:1.875rem;

      }     

.three_photos_container {
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:2;
    display:grid;
    background-color: pink;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(20px, auto) auto minmax(20px, auto);
}

.inside_three_photos {
    border-bottom: 4px solid #585a59;
    border-top: 4px solid #585a59;
    background-color: #790001;
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color:#6c6f6d;
    z-index: 888;
    width:80%;
    display:grid;
    grid-template-columns: 1fr 0.05fr 1fr;
    grid-template-rows: 1fr 0.1fr 1fr;
  }

.luna_one, .luna_two {
    place-self: center;
    border-radius: 10px;
    object-fit: contain;
    width: 80%; 
    max-width: 90%;
    height:auto;
    margin:auto;
}


.luna_one {
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 2;
    }

.luna_two {
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start: 3;
    grid-row-end: 4;
    }

 .fenya_one {
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 4;
    width:100%;
    height:auto;
    align-self: end; 
    justify-self: center; 
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    }
    .square {
        background-color: #DEDFE4;
        width: 80%;
        height: 100%;
        align-self: center;
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start: 1;
        grid-row-end: 4;
      }
.carousel_part {
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end:4;
    overflow: hidden;
    background-color: turquoise;
    display:grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto;
}



.carousel_part h2 {
    grid-column-start:2;
     grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*.service_container {
    padding: 0 4vw;
    padding-right:0;
    display: flex;
    overflow-x: auto; 
    background-color: #34c5ef;
    scroll-behavior:smooth;
    grid-column-start:2;
    grid-column-end:3;
   grid-row-start: 2;
   grid-row-end: 3;
    } */
    



      .service_container {
        width: calc(3 * 24vw + 2 * 30px); /* 3 cards + 2 gaps */
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: #34c5ef;
      }

      .carousel_track {
        display: flex;
        gap: 30px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        background-color:yellow;
      }
      
      .carousel_track::-webkit-scrollbar {
        display: none;
      }
      .service_card {
        flex: 0 0 24vw;
        scroll-snap-align: start;
        background-color: grey;
      }
      
      









/*.service_card {
    flex: 0 0 auto;
    width: 24vw;
    height: auto;
    margin-right: 40px;
    background-color:grey;
    } */
.service_image {
    /*position:relative; */
    overflow: hidden;
    width:100%;

    } 


.service_thumb {
    width:24vw;
    height: 24vh;
    padding:0.9375rem;
    object-fit: cover;
    }
.service_info {
    width: 100%;
    padding:0.9375rem;
  
   
    }
    
.service_brand {
    text-transform: uppercase;
    font-family:sans-serif;
    color:white;
    font-size: clamp(0.75rem, 1.2vw + 0.4rem, 1.64rem);
    margin:0;
    margin-bottom:0.625rem;

  

    } 

.service_short_description {    
    font-size: clamp(1rem, 1vw, 1.375rem);
    width: 100%;
    height: auto;
    line-height: 1.7;
    opacity:0.7;
    margin:0;

    color:white;
    }
.pre_btn,
.nxt_btn {
    border:none;
    background-color: #DEDFE4;
    cursor: pointer;
    z-index: 9;
    }
    .nxt_btn {
        grid-column-start:3;
        grid-column-end:4;
       grid-row-start: 1;
       grid-row-end: 3;
    }
    .pre_btn {
        grid-column-start:1;
        grid-column-end:2;
       grid-row-start: 1;
       grid-row-end: 3;
    }
    
    .pre_btn img,
    .nxt_btn img {
        opacity: 0.2;
    }








    footer {
        background-color:#393A3F;
        font-size: clamp(0.75rem, 1vw, 1.125rem);
        color:white;
        grid-column-start:1;
        grid-column-end: 4;
        grid-row-start:5;
        grid-row-end:6;
        text-align: center;
        
      }











    
/* AboutUs page starts here. */

.aboutUs_container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
}
.photo_hotel {
    grid-column-start:1;
    grid-column-end:2;
    background-color: green;
}

.photo_hotel img {
    width: 70%;
    display: block;
    border-radius: 1.25rem;
    position: relative;
    margin: 0 auto;
    margin-top: 5.860375rem;
    /* left:-730px; */
}
.about_hotel_text {
    grid-column-start:2;
    grid-column-end:3;
    justify-self: center;
    align-self: center;
    background: lightblue;
    width:50vw;
    height:auto;
    position: relative;
    z-index:1;
   /* right:-1550px; */
} 

.photo_hotel, .about_hotel_text {
    grid-row: 1/2;
}
/*==.hide {
	display: none;
 
} */
 
.info_hotel, #hidden_text {
    align-self:center;
    padding: 0.9375rem;
    height:auto;
    font-size: clamp(1rem, 1vw, 1.375rem);
    line-height: 1.7;
    margin:0.9375rem;
}
.info_hotel {
    border-left: 4px solid #585a59;
    border-right: 4px solid #585a59;
}
#hidden_text {
    border-top: 4px solid #585a59;
    border-bottom: 4px solid #585a59;

}
.about_hotel_text a {
    margin:1rem;
    display:inline-block;
    font-size: clamp(1rem, 1vw, 1.375rem);
    background-color: yellow; 
    padding:8px;
    color:black;
    text-decoration: none;
}
.info_hotel p {
    height:auto;
}  
#for_anchor2 {
    margin: 0 !important;
    padding: 0 !important;
  
  }




/*Staff page starts here */


.staff_container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto; 
    background-color: lightblue;
    align-items: start;

    height:auto;
    overflow:hidden;
}

.staff_carousel {
    width: clamp(300px, 80vw, 1000px);
    
        margin:0 auto;
    position: relative;
    grid-column-start:1;
    grid-column-end:2;
    display:grid;
grid-template-columns: auto 1fr auto;
    grid-template-rows:40px auto 40px; 
    background-color:pink;


  
}
.carousel-button.prev {
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:green;

 }


.carousel-button.next {
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: green;
 }

 .card_list {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2 ;
    grid-row-end: 3;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:auto;
    background-color: lightcoral;

 }

.slide {
   

    opacity: 0;
    background-color: #A9A9A9;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 2;    

    display:grid;
    grid-template-columns:auto 30px auto;
    grid-template-rows:auto auto auto;
}
                            
.slide[data-active] {
    opacity: 1;
}
.staff_name {

    background-color: yellow;
    text-transform: uppercase;
    padding:10px;
    margin:0;
    align-self: center;

    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end:2;
    font-size: clamp(0.75rem, 1.2vw + 0.4rem, 1.64rem);

} 
.quatation  {
margin:0;
padding:10px;
background-color: purple;
text-transform: uppercase;
grid-column-start: 1;
grid-column-end:2;
grid-row-start: 2;
grid-row-end:3;
font-size: clamp(1rem, 1vw, 1.375rem);
line-height: 1.7;

} 

.staff_image {
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 2;
    grid-row-end:3;
    display:flex;
    background-color: red;
    align-self: flex-start;

 }
 .staff_image img {
    margin: auto;
    width:80%;
    height:auto;
    padding:15px;
  
 
 }

 .staff_short_description {
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start: 3;
    grid-row-end:4;
    font-size: clamp(1rem, 1vw, 1.375rem);
    line-height: 1.7;
    padding:10px;

    background-color: lightblue;
    
}




.staff_carousel > .card_list {
    margin: 0;
    padding: 0;

}
.carousel-button {
    font-size: clamp(1rem, 1.5vw + 1rem, 4.5rem);
    justify-self: center; 

 
      
      

}












/*Calculator starts here. */


.calculator_container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto auto; 
    background-color: lightblue;

}

.scores_of_weight {
    background-color: red;
    width:100vw;
}

.scores_of_weight h2 {
    font-size: clamp(1rem, 1.5vw + 0.5rem, 2.1875rem);
}
.scores_of_weight h3 {
    font-size: clamp(0.75rem, 1.2vw + 0.4rem, 1.64rem);
    background-color:grey;
    text-align: center;

}

table {
    border-collapse: collapse;
    width: clamp(300px, 80vw, 1000px);
 
}

th{
    border: 2px solid #00292a;
    background-color: #5C5C5C;
    font-size: clamp(1rem, 1vw, 1.375rem);
    padding:10px;
}
tr{
    color:#00292a;
    border:2px solid #00292a;
    background-color: #999999;  
    font-size: clamp(1rem, 1vw, 1.375rem);
  }



  td {
    border-collapse:collapse;
    border: 2px solid #00292a;
    padding: 15px;
    background-color: orange;

    
  }
.calculator div {
    font-size: clamp(1rem, 1vw, 1.375rem);
    padding:10px;
    padding-left:15px;

}
.calculator input {
   margin:10px;
   font-size: clamp(1rem, 1vw, 1.375rem);

}
#calculate {
    margin:0;
}
#current_weight, #scores {
    border:none;
}
#clear_form, #calculate {
    border:none;
    font-size: clamp(0.875rem, 2.5rem, 1.125rem);

}






  .calculator {
    background-color: #999999;
  }







td:first-child { 
    text-align: center;
}









/*.messages {
    color: red;
} */

/*Contact page starts here. */
.contact_container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto; 
}
form {
    background-color: #DEDFE4;
    width: 65vw;
    margin-top: 5%;
    margin-bottom:10%;
    grid-column-start:1;
    grid-column-end: 3;
    margin-left:auto;
    margin-right:auto;
    background-color:green;
}
/*form h2 {
    text-align: center;
    font-size: 40px;
    padding:10px;
    color:white;
    text-shadow: 4px 8px 4px #000000;
    opacity:0.9; 

   


}*/
fieldset {
    background-color: grey;
}
.contactinfo h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:white;
   

   
}


.contactinfo div label {
    width: 30%;
    display:inline-block;
    text-align:right;
    margin-top: 20px;
    margin-bottom:20px;
    
    
  
}
.catinfo h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:white;
    opacity:0.7;
    
}


.catinfo div label {
    width: 30%;
    display:inline-block;
    text-align:right;
    margin-top: 10px;
    margin-top: 20px;
    margin-bottom:20px;
  
}

.reserveinfo h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:white;
    opacity:0.7;


}
.reserveinfo h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    opacity:0.7;
    color:white;
  

}
.reserveinfo div {
    margin-top: 20px;
    margin-bottom:20px;
}
.date-picker label {
    margin-left: 10px;
}

.additionalinfo h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:white;
    opacity:0.7;

}


span {
    color:#790001;
    
}
.date-picker {
    width: 55%;
    text-align: right;

}
textarea {
    width: 90%;
}
.additionalinfo div{
   text-align: center;
    margin-bottom: 20px;
}
.contactinfo div input, .catinfo div input {
    margin-left:10px;
}

.additionalinfo div label {
    float:left;
    margin-left:5%;
}
fieldset {
    margin-top:2%;
}
#btnSubmit {
    color: white;
    background-color: #262626;
    opacity:0.7;
    width:10vw;
    height:4vh;
    border-radius: 10px;
}
#clear {
    width:10vw;
    height:4vh;
    border-radius: 10px;
    color: white;
    background-color: #262626;
    opacity:0.7;
}
textarea {
    margin-top: 2%;
} 
/* Responsive Hamburger-navigation starts here  */
@media all and (max-width: 1146px) {

    .logo {
        margin:0;
        padding: 10px;
        grid-column-start:1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end:2;
        place-self: center;
        box-sizing: border-box;
        background-color:pink;
    }

    .logo_cat {
        object-fit: contain;
        display: block;
        width: 6.25rem;

    }
    .big_text {
    background-color: green;
    }

    nav {
        background-color:grey;
        display:grid;
        grid-template-columns: 20% 65% 15%;
        grid-template-rows: 80px auto;
        z-index: 999;
        position:relative;
        min-height: 0;
    }
 
    .nav_links a {
        font-size: 1rem;
    }
    
    .nav_links {
        max-height: 0;
        transition: max-height 0.4s ease;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        list-style: none;
        text-align: center;
        background-color: lightblue;
        padding: 0;
        margin: 0;
        position:relative;
        z-index:1;
        opacity: 0;
        pointer-events: none;
      }
      
      .nav_links.show {
        max-height: 320px;
        opacity: 1;
      }
    
    .nav_links li {
        display: block;
    }

    *,
    *::after,
    *::before {
        box-sizing:border-box;

    } 
    
    :root {
        --bar-width: 35px;
        --bar-height: 3px;
        --hamburger-gap: 6px;
        --hamburger-margin: 8px;
        --foreground:white;
        --background: white;
        --animation-timing:200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
    } 
    
    .hamburger_menu {
        --x-width:calc(var(--hamburger-height)*1.41421356237);
        display: flex;
        flex-direction: column;
        gap:var(--hamburger-gap);
        width:max-content;
        cursor: pointer;
        grid-column-start:3;
        grid-column-end: 4;
        grid-row-start:1;
        grid-row-end: 2;
        place-self: center;
        box-sizing: border-box;
    } 
    
    .hamburger_menu::before,
    .hamburger_menu::after,
    .hamburger_menu input {
        content:"";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition:opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    } 
    
    .hamburger_menu input {
        appearance: none;
        margin:0;
        padding:0;
        outline: none;
        pointer-events: none;
    }
    
    .hamburger_menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height)/-2);
    }
    .hamburger_menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height)/2);
    } 
    .hamburger_menu input:checked{
        opacity:0;
        width:0;
    }
   
}

@media all and (min-width:889px) {
    .scores_of_weight {
        display:grid;
        grid-template-columns: 50px 1fr 10px 1fr 50px;
        grid-template-rows:auto auto auto;
        min-width: 0;

     
    }
    .scores_of_weight h2 {
        grid-column-start:1;
        grid-column-end: 6;
        grid-row-start:1;
        grid-row-end: 2;
    }
    .step1{
        grid-column-start:2;
        grid-column-end: 3;
        grid-row-start:2;
        grid-row-end: 3;
        width: clamp(200px, 100%, 600px);
    

        

    }
    .step2 {
        grid-column-start:4;
        grid-column-end: 5;
        grid-row-start:2;
        grid-row-end: 3;
      
        width: clamp(200px, 100%, 600px);
      



    }
    .calculator, .step2 {
        min-width: 0;
      }
      



    table {
        grid-column-start:2;
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end: 4;
        width: clamp(300px, 80vw, 1000px);
        justify-self: end;

      
    
    }
 


  .calculator {
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start:3;
    grid-row-end: 4;
    width: clamp(200px, 100%, 600px);
    background-color: #999999;
    align-self: start;

  }
  .step2,
  .calculator {
    min-width: 0;
    justify-self: start;
  }

  .step1,
  table {
    min-width: 0;
    width: 100%;
    max-width: 1000px;
    justify-self: end;
  }
  .calculator label, .calculator input {
background-color:lightblue;
  }
}



/* Responsive website for 2560 screen device */

@media all and (min-width: 2560px) {

    .logo {
        margin-left: 2.5rem;
    }
    .welcome_container {
        width:36vw;
    }
 

       
/*for try
    .service_container {
        width: calc(3 * 24vw + 2 * 30px);
        margin: 0 auto;
        overflow: hidden; 
        position: relative;
      }
    
      .service_card {
        flex: 0 0 24vw;
        margin: 0;
      }

      .service_container {
        scroll-snap-type: x mandatory;
      }
    
      .service_card {
        scroll-snap-align: start;
      }
      */





    .pre_btn img,
    .nxt_btn img {
 
    width: 3vw;
    height:auto;
    }







  
  





        
    
 


















    /*.contactinfo h2 {
        font-size: 65px;
    } */

    .contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
        font-size:45px;
        margin-top:30px;
    }
    input[type="radio"] {
       height:30px;
       width:30px;
    }
    .catinfo h3, .reserveinfo h3, .additionalinfo h3 {
        font-size:50px;
    }
    .reserveinfo h4 {
        font-size:48px;
    }
    fieldset span{
        font-size:45px;
    }
       
}
/*Responsive website for 2000 screen device.*/
@media all and (max-width:2559px) and (min-width:2000px) {
    .logo {
        margin-left: 2.5rem;
    }
    .welcome_container {
        width:40vw;
    }

 











  


  
  
    .contactinfo h2 {
        font-size: 50px;
    }
    .contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
        font-size:35px;
    }
    input[type="radio"] {
       height:30px;
       width:30px;
    }
    .catinfo h3, .reserveinfo h3, .additionalinfo h3 {
        font-size:38px;
    }
    .reserveinfo h4 {
        font-size:36px;
    }
    fieldset span{
        font-size:35px;
    }
    form {
        margin-top:10%;
        margin-bottom:20%;
    }


 
} 



/*Responsive website for 1532 screen device.*/
@media all and (max-width: 1999px) and (min-width: 1532px)  {
    .logo {
        margin-left: 2.5rem;
    }
    .logo_cat {
        width: 10vw;
    }
    .nav_links a {
        font-size: 1.25rem;
    }
    .welcome_container {
        width:40vw;
    }
 


  

   

      .carousel_track {
        width: calc(2 * 36vw + 30px); /* 2 cards + 1 gap */
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 36vw; 
      }
    
   
      .service_thumb {
        width:36vw;
        }





  

   
 







    .contactinfo h2 {
        font-size: 37px;
    }
  
    .contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
        font-size:28px;
    }

    .contactinfo div input, .catinfo div input {
        margin-left:10px;
    }
    input[type="radio"] {
       height:28px;
       width:28px;
    }
    .catinfo h3, .reserveinfo h3, .additionalinfo h3 {
        font-size:30px;
    }
    .reserveinfo h4 {
        font-size:29px;
    }
    fieldset span{
        font-size:28px;
    }
   


} 
/*Responsive website for 1531 screen device.*/
@media all and (max-width: 1531px) and (min-width: 1441px)  {
    .logo {
        margin-left: 2.5rem;
    }
    .logo_cat {
        width: 10vw;
    }
    .nav_links a {
        font-size: 1.125rem;
    }
    .welcome_container {
        width:40vw;
    }
 

    .carousel_track {
        width: calc(2 * 36vw + 30px); /* 2 cards + 1 gap */
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 36vw; 
      }
    
   
      .service_thumb {
        width:36vw;
        }

  
   


      
        .contactinfo h2 {
            font-size: 35px;
        }
      
        .contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
            font-size:25px;
        }
        input[type="radio"] {
           height:25px;
           width:25px;
        }
        .catinfo h3, .reserveinfo h3, .additionalinfo h3 {
            font-size:28px;
        }
        .reserveinfo h4 {
            font-size:26px;
        }
        fieldset span{
            font-size:25px;
        }



} 


/*Responsive website for 1440 screen device.*/

@media all and (max-width:1440px) and (min-width: 1386px) {
    .logo {
        margin-left: 2.5rem;
    }
    .logo_cat {
        width: 10vw;
    }
    .nav_links a {
        font-size: 1.125rem;
    }
    .big_text {
        font-size: 2.8125rem;
    }
    .welcome_container {
        width:45vw;
    }


    .carousel_track {
        width: calc(2 * 36vw + 30px); /* 2 cards + 1 gap */
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 36vw; 
      }
    
   
      .service_thumb {
        width:36vw;
        }

 
   
    

      
        
      
     
        .contactinfo h2 {
            font-size: 30px;
        }
      
        .contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
            font-size:22px;
        }
        input[type="radio"] {
           height:22px;
           width:22px;
        }
        .catinfo h3, .reserveinfo h3, .additionalinfo h3 {
            font-size:25px;
        }
        .reserveinfo h4 {
            font-size:23px;
        }
        fieldset span{
            font-size:22px;
        }

    
    } 


    /* Responsive website for 1385 screen device */

@media all and (max-width:1385px) and (min-width: 1255px) {
    .logo {
        margin-left: 2.5rem;
    }
    .logo_cat {
        width: 10vw;
    }
    .nav_links a {
        font-size: 1.125rem;
    }
    .big_text {
        font-size: 2.8125rem;
    }
    .welcome_container {
        width:45vw;
    }




    .carousel_track {
        width: calc(2 * 36vw + 30px); /* 2 cards + 1 gap */
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 36vw; 
      }
      .service_thumb {
        width:36vw;
        }

 
   
 







   

        
    
    
        .contactinfo h2 {
            font-size: 30px;
        }
      
        .contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
            font-size:22px;
        }
        input[type="radio"] {
           height:22px;
           width:22px;
        }
        .catinfo h3, .reserveinfo h3, .additionalinfo h3 {
            font-size:25px;
        }
        .reserveinfo h4 {
            font-size:23px;
        }
        fieldset span{
            font-size:22px;
        }
    
    
   
} 

/*Responsive website for 1254 screen device. */
@media all and (max-width: 1254px) and (min-width: 1147px) {
    .logo {
        margin-left: 2.5rem;
    }
    .logo_cat {
        width: 10vw;
    }
    .nav_links a {
        font-size: 1rem;
    }
    .big_text {
        font-size: 2.8125rem;
    }
     .welcome_container {
        width:45vw;
    }


    .carousel_track {
        width: calc(2 * 36vw + 30px); /* 2 cards + 1 gap */
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 36vw; 
      }
    
   
      .service_thumb {
        width:36vw;
        }


  
  







    
    
       
        
     
        .contactinfo h2 {
            font-size: 25px;
        }
      
        .contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
            font-size:18px;
        }
        input[type="radio"] {
           height:18px;
           width:18px;
        }
        .catinfo h3, .reserveinfo h3, .additionalinfo h3 {
            font-size:20px;
        }
        .reserveinfo h4 {
            font-size:19px;
        }
        fieldset span{
            font-size:18px;
        }
    
} 


/*Responsive website for 1146 screen device. */
@media all and (max-width: 1146px) and (min-width:995px) {

    .luna_one, .luna_two {
        display:none;
    }

    .fenya_one {
        grid-column-end:4;
        width:70%;
    }
        
    
    .home_container {
        grid-template-columns: 1fr 20px 1fr;
        grid-template-rows:auto 20px auto;
    }



    .carousel_track {
        width: calc(2 * 36vw + 30px); /* 2 cards + 1 gap */
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 36vw; 
      }
    
   
      .service_thumb {
        width:36vw;
        }














   


    .contactinfo h2 {
        font-size: 24px;
    }
  
    .contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
        font-size:17px;
    }
    .date-picker {
        width:70%;
    }
    input[type="radio"] {
       height:17px;
       width:17px;
    }
    .catinfo h3, .reserveinfo h3, .additionalinfo h3 {
        font-size:19px;
    }
    .reserveinfo h4 {
        font-size:18px;
    }
    fieldset span{
        font-size:17px;
    }
    #btnSubmit, #clear {
        width:8vw;
        font-size:17px;
    }

}  



/* Responsive website for 994 screen device */
@media all and (max-width:994px) and (min-width:889px) {
    .luna_one, .luna_two {
        display:none;
    }

    .fenya_one {
        grid-column-end:4;
        width:70%;
    }
    .home_container {
        grid-template-columns: 1fr 20px 1fr;
        grid-template-rows:auto 20px auto;
    }


    .carousel_track {
        width: calc(1 * 79vw + 30px); 
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 79vw; 
      }
    
   
      .service_thumb {
        width:79vw;
        }







    


    .contactinfo h2 {
        font-size: 18px;
    }
  
    .contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
        font-size:15px;
    }
    .date-picker {
        width:70%;
    }
    input[type="radio"] {
       height:15px;
       width:15px;
    }
    .catinfo h3, .reserveinfo h3, .additionalinfo h3 {
        font-size:17px;
    }
    .reserveinfo h4 {
        font-size:16px;
    }
    fieldset span{
        font-size:15px;
    }
    #btnSubmit, #clear {
        width:8vw;
        font-size:15px;
    }

} 


/* Responsive website for 768 screen device */
@media all and (max-width:888px) and (min-width:600px) {

    .logo {
        place-self:auto;
        margin-left:1.25rem;
    }

    .logo_cat {
        width: 5.625rem;
    }

    :root {
        --bar-width: 30px;
        --bar-height: 2px;
    }
    
    .nav_links a {
        font-size: 0.9375rem;
    }
    .big_text {
        font-size: 2.1875rem;
        grid-column-start:1;
        grid-column-end: 4; 
        place-self: center;
    }

    header::after {
        width: 100%;
    } 
     .three_photos_container {
        display:none;
    }
  
    .fenya_one {
        grid-column-end:4;
        width:70%;
    }
    .home_container {
        grid-template-columns: 1fr;
        grid-template-rows:auto 20px auto;
        margin-right:0;
        margin-left:0;
    }
    .welcome_container {
        grid-column-start:1;
        grid-column-end: 2;  
        width: 80vw;
    }



    .carousel_track {
        width: calc(1 * 82vw + 30px); 
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 82vw; 
      }
    
   
      .service_thumb {
        width:82vw;
        }

        
        .about_hotel_text {
            grid-column-start:1;
            grid-column-end:3;
            justify-self: center;
            align-self: center;
            width:85vw;
        }
.photo_hotel {
    display:none; 
}







.staff_image {
    grid-column-start: 1;
    grid-column-end:4;
    justify-self: end;
    justify-content: flex-end; 

 }
 .staff_image img {
    width:45%;
    height:auto;
    padding:0;
    margin: 0;

 }

.slide {
    grid-template-rows:auto auto auto auto;
}
.quatation {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end:4;
    font-size: 0.875rem;
}
.staff_short_description {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end:4;
    margin:0;
}

.step1, .step2{
    width: 100%;



}

table {
    width: clamp(300px, 90%, 1000px);
    min-width: 0;
   margin-left: auto;
   margin-right: auto;
}
.calculator {
width: clamp(200px, 100%, 600px);
margin-left: auto;
margin-right: auto;
min-width: 0;
}




                            










.contactinfo h2 {
    font-size: 18px;
}

.contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
    font-size:15px;
}
form {
    width:80vw;
}
.date-picker {
    width:90%;
    text-align:left;
    margin-left:7px;
}
input[type="radio"] {
   height:15px;
   width:15px;
}
.catinfo h3, .reserveinfo h3, .additionalinfo h3 {
    font-size:17px;
}
.reserveinfo h4 {
    font-size:16px;
}
fieldset span{
    font-size:15px;
}
#btnSubmit, #clear {
    font-size:13px;
}

  

} 


/* Responsive website for 599 screen device */

@media all and (max-width: 599px) and (min-width:474px) {
    
    :root {
        --bar-width: 30px;
        --bar-height: 2px;
    }
    .logo {
        place-self:auto;
        margin-left:1.25rem;
    }
    
    .nav_links a {
        font-size: 0.875rem;
    }
    .logo_cat {  
        width: 5.3125rem;
    }
    .big_text {
        font-size: 1.875rem;
        grid-column-start:1;
        grid-column-end: 4; 
        place-self: center;
        
    }
    header::after {
        width: 100%;
    }
    nav {
        grid-template-columns: 65% 20% 15%;
    }
    .three_photos_container {
        display:none;
    }
  
    .fenya_one {
        grid-column-end:4;
        width:70%; 
    }
    .home_container {
        grid-template-columns: 1fr;
        grid-template-rows:auto 20px auto;
        margin-right:0;
        margin-left:0;
    }
    .welcome_container {
        grid-column-start:1;
        grid-column-end: 2;  
        width: 100%;
    }






    


    .carousel_track {
        width: 70vw; 
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 70vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: grey;
        
      }
    
   
      .service_thumb {
            width: 100%;
            aspect-ratio: 4 / 3; /* Keeps image consistent */
            object-fit: cover;
            padding: 0; /* Remove padding from image itself */
          }
        


        .service_container {
            width:76vw;
          }
          .service_image {
            padding: 15px;
          }
     
        
          

   
          .about_hotel_text {
            grid-column-start:1;
            grid-column-end:3;
            justify-self: center;
            align-self: center;
            width:100vw;
        }
.photo_hotel {
    display:none; 
}

.staff_carousel { width: 100%;
}

.staff_image {
    grid-column-start: 1;
    grid-column-end:4;
    justify-self: end;
    justify-content: flex-end; 
 }
 .staff_image img {
    width:45%;
    height:auto;
    padding:0;
    margin: 0;

 }
 table {
    width:95vw;
 }
 



 .slide {
    grid-template-rows:auto auto auto auto;
}
.quatation {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end:4;
    font-size: 0.875rem;

}
.staff_short_description {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end:4;
    margin:0;
}







.contactinfo h2 {
    font-size: 18px;
}

.contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
    font-size:15px;
}
form {
    width:80vw;
}
.date-picker {
    width:90%;
    text-align:left;
    margin-left:7px;
}
input[type="radio"] {
   height:15px;
   width:15px;
}
.catinfo h3, .reserveinfo h3, .additionalinfo h3 {
    font-size:17px;
}
.reserveinfo h4 {
    font-size:16px;
}
fieldset span{
    font-size:15px;
}
#btnSubmit, #clear {
    font-size:13px;
    width:15vw;
}


  
} 

/* Responsive website for 473 screen device */
@media all and (max-width: 473px) and (min-width:431px) {
    :root {
        --bar-width: 30px;
        --bar-height: 2px;
    }

    .logo {
        place-self:auto;
        margin-left:1.25rem;
    }
    .logo_cat {  
        width: 5.3125rem;
    }
    
    nav {
        grid-template-columns: 65% 20% 15%;
    }
    .nav_links a {
        font-size: 0.875rem;
    }

      .big_text {
        font-size: 1.875rem;
        grid-column-start:1;
        grid-column-end: 4; 
        place-self: center;
      }

    header::after {
        width: 100%;
    }
    
    .three_photos_container {
        display:none;
    }
   
    .fenya_one {
        grid-column-end:4;
        width:70%; 
    }
    .home_container {
        grid-template-columns: 1fr;
        grid-template-rows:auto 20px auto;
        margin-right:0;
        margin-left:0;
    }
    .welcome_container {
        grid-column-start:1;
        grid-column-end: 2;  
        width: 100%;
    }
    
    

    .carousel_track {
        width: 70vw; 
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 70vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: grey;
        
      }
    
   
      .service_thumb {
            width: 100%;
            aspect-ratio: 4 / 3; /* Keeps image consistent */
            object-fit: cover;
            padding: 0; /* Remove padding from image itself */
          }
        


        .service_container {
            width:76vw;
          }
          .service_image {
            padding: 15px;
          }
     




          .about_hotel_text {
            grid-column-start:1;
            grid-column-end:3;
            justify-self: center;
            align-self: center;
            width:100vw;
        }
.photo_hotel {
    display:none; 
}
.staff_carousel { width: 100%;
}


 .staff_image {
    grid-column-start: 1;
    grid-column-end:4;
    justify-self: end;
    justify-content: flex-end; 
 }
 .staff_image img {
    width:45%;
    height:auto;
    padding:0;
    margin: 0;

 }

 .slide {
    grid-template-rows:auto auto auto auto;
}
.quatation {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end:4;
    font-size: 0.875rem;

}
.staff_short_description {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end:4;
    margin:0;
}





.contactinfo h2 {
    font-size: 18px;
}

.contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
    font-size:15px;
}
form {
    width:80vw;
}
.date-picker {
    width:100%;
    text-align:left;
}
input[type="radio"] {
   height:15px;
   width:15px;
}
.catinfo h3, .reserveinfo h3, .additionalinfo h3 {
    font-size:17px;
}
.reserveinfo h4 {
    font-size:16px;
}
fieldset span{
    font-size:15px;
}
#btnSubmit, #clear {
    font-size:13px;
    width:15vw;
}

  
} 


/* Responsive website for 430 screen device */

@media all and (max-width:430px) and (min-width:324px) {

    :root {
        --bar-width: 28px;
        --bar-height: 2px;
    } 

    .nav_links a {
        font-size: 0.875rem;
    }
      .big_text {
        font-size: 1.5625rem;
        grid-column-start:1;
        grid-column-end: 4; 
        place-self: center;
    }

    header::after {
        width: 100%;
    }
 
    
    .logo {
        place-self:auto;
        margin-left:1.25rem;
    }
    .logo_cat {  
        width: 4.6875rem;
    }
    
    nav {
        grid-template-columns: 65% 20% 15%;
    }
    .three_photos_container {
        display:none;
    }
 
    .fenya_one {
        grid-column-end:4;
        width:70%; 
    }
    .home_container {
        grid-template-columns: 1fr;
        grid-template-rows:auto 20px auto;
        margin-right:0;
        margin-left:0;

    }
    .welcome_container {
        grid-column-start:1;
        grid-column-end: 2;  
        width: 100%;
    }


    .carousel_track {
        width: calc(1 * 70vw); 
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 70vw; 
      }
    
   
      .service_thumb {
        width:70vw;
        height:auto;
        }


        .service_container {
            width:76vw;
          }
        

 .about_hotel_text {
            grid-column-start:1;
            grid-column-end:3;
            justify-self: center;
            align-self: center;
            width:100vw;
        }
.photo_hotel {
    display:none; 
}

.staff_carousel { width: 100%;
}

.staff_image {
    grid-column-start: 1;
    grid-column-end:4;
    justify-content: flex-end; 


 }
 .staff_image img {
    width:45%;
    height:auto;
    padding:0;
    margin:0;

 }

 .slide {
    grid-template-rows:auto auto auto auto;
}
.quatation {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end:4;
    font-size: 0.875rem;

}
.staff_short_description {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end:4;
    margin:0;
}



.contactinfo h2 {
    font-size: 17px;
}

.contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
    font-size:13px;
}
form {
    width:90vw;
}
.date-picker {
    width:97%;
    text-align:left;
    margin-left:2px;
}

input[type="radio"] {
   height:13px;
   width:13px;
}
.catinfo h3, .reserveinfo h3, .additionalinfo h3 {
    font-size:15px;
}
.reserveinfo h4 {
    font-size:14px;
}
fieldset span{
    font-size:13px;
}
#btnSubmit, #clear {
    font-size:13px;
    width:20vw;
}
.contactinfo div input, .catinfo div input {
    margin-left:0;
}

.additionalinfo div label {
    margin-left:0;
}
.date-picker label {
    margin-left: 0;
}



}  

/* Responsive website for 323 screen device */

@media all and (max-width:323px) {
    
    .logo {
        place-self:auto;
        margin-left:1.25rem;
    }
    .logo_cat {  
        width: 4.375rem;
    }
    
    nav {
        grid-template-columns: 65% 15% 20%;
    }
    
    :root {
        --bar-width: 24px;
        --bar-height: 2px;
        --hamburger-gap: 4px;
    }

    .nav_links a {
        font-size: 0.875rem;
    }
    
    .big_text {
        font-size: 1.5625rem;
        grid-column-start:1;
        grid-column-end: 4; 
        place-self: center;
    }
 
    header::after {
        width: 100%;
    }
    .three_photos_container {
        display:none;
    }
  
    .fenya_one {
        grid-column-end:4;
        width:70%;
    }
    .home_container {
        grid-template-columns: 1fr;
        grid-template-rows:auto 20px auto;
        margin-right:0;
        margin-left:0;
    }

    .welcome_container {
        grid-column-start:1;
        grid-column-end: 2;  
        width: 100%;
    }


    .carousel_track {
        width: 65vw; 
     
        margin: 0 auto;
      }
    
      .service_card {
        flex: 0 0 65vw; 
      }
    
   
      .service_thumb {
        width:65vw;
        height:auto;
        }


        .service_container {
            width:72vw;
          }



          .about_hotel_text {
            grid-column-start:1;
            grid-column-end:3;
            justify-self: center;
            align-self: center;
            width:100vw;
        }
.photo_hotel {
    display:none; 
}
.staff_carousel { width: 100%;
}

 .staff_image {
    grid-column-start: 1;
    grid-column-end:4;
    justify-self: end;
    justify-content: flex-end; 
 }
 .staff_image img {
    width:45%;
    height:auto;
    padding:0;
    margin: 0;

 }

 .slide {
    grid-template-rows:auto auto auto auto;
}
.quatation {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end:4;
    font-size: 0.875rem;

}
.staff_short_description {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end:4;
    margin:0;
}










.contactinfo h2 {
    font-size: 17px;
}

.contactinfo div label, .contactinfo div input, .catinfo div label, .catinfo div input, .additionalinfo div label, .date-picker label, .date-picker select {
    font-size:13px;
}
form {
    width:90vw;
}
.date-picker {
    width:97%;
    text-align:left;
    margin-left:2px;
}

input[type="radio"] {
   height:13px;
   width:13px;
}
.catinfo h3, .reserveinfo h3, .additionalinfo h3 {
    font-size:15px;
}
.reserveinfo h4 {
    font-size:14px;
}
fieldset span{
    font-size:13px;
}
#btnSubmit, #clear {
    font-size:13px;
    width:20vw;
}
.contactinfo div input, .catinfo div input {
    margin-left:0;
}

.additionalinfo div label {
    margin-left:0;
}
.date-picker label {
    margin-left: 0;
}
  
} 



  











